@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #5A5A5A;
}

.form_error_msg_home {
	position: inherit;
	color: #ff0000;
	font-size: 11px;
	left: 0;
	top: 62px;
}

.form_error_msg_signin {
  position: inherit;
	color: #ff0000;
	font-size: 11px;
	left: 0;
	top: 30px;
}
.form_error_msg {
  color: #ff0000;
  font-size: 11px;
}

.form-error {
  color: #ff0000;
  font-size: 11px;
}

.qmodal.modal-body img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.qmodal.modal-body {
  padding: 0;
}

.modal-body {
  color: #000;
}

.formh {
  bottom: -100px;
  position: fixed;
}

.forgotpassworddiv {
  position: fixed;
  top: 50px;
}

.dropdown-menu {
  background: #5A5A5A !important;
  color: white;
}

.dropdown-toggle {
  color: inherit !important;
  background: none;
}
#basic-nav-dropdown {
  background: #5A5A5A !important;
}

.dropdown-menu li a:hover {
  background: #5A5A5A !important;
}
