@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif !important;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #5A5A5A;
  line-height: 24px;
}
a {
  color: #fff;
  outline: none !important;
}
.row {
	margin-right: 0;
	margin-left: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.pr30 {
  padding-right: 30px;
}
.pdl0 {
  padding-left: 0;
}
.logocell img.desklogo {
	width: 222px;
	height: auto;
	margin-top: -16px;
  display: block;
}
.logocell img.mblogo {
	display: none;
}

/* headerrow starts here */

.logocell {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 99;
}
.logocell a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.logocell a:hover, .logocell a:focus, .logocell a:visited,
.navcell a:hover, .navcell a:focus, .navcell a:visited,
.smedia a:hover, .smedia a:focus, .smedia a:visited,
.contactpg a:hover, .contactpg a:focus, .contactpg a:visited,
.fnav a:focus, .fnav a:visited,
form a:hover, form a:focus, form a:visited {
  color: #fff;
  text-decoration: none;
}
.fnav a:hover {
  text-decoration: underline;
}
.fnav a {
  font-weight: bold;
}
.navcell .navbar-default {
	background-color: transparent;
}
.navcell .navbar {
	margin-bottom: 0px;
	border: 0px solid transparent;
	text-align: right;
  min-height: 54px;
}
.navcell .container {
	width: 100%;
	padding: 0;
}
.navcell a {
	color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.nav > li > a {
	padding: 0px 11px;
	line-height: 54px;
}

/* headerrow ends here */

/* home page */

.hsec01, .hsec02, .hsec03, .hsec04, .hsec05,
.vsec01, .vsec02, .vsec03, .vsec04, .vsec05 {
  background-attachment: fixed;
	background-position: 50%;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
.hsec01 {
	padding-top: 12%;
}
.hsec02, .hsec05, .hsec03, .vsec04, .vsec05, .teamsec02 {
  background-color: #4B4B4B;
}
.hsec02.hsec04 {
  background-color: #5A5A5A;
}

/* section 01 */

.hsec01 .sech1Line {
  background: #9F9F9F;
  height: 2px;
  width: 600px;
  position: relative;
  display: block;
  margin: 0 auto;
}
.hsec01 .sech1cir {
	background: #FFFFFF;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	top: -5px;
}
.hsec01 h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}
.hsec01 p {
	margin-top: 65px;
}

/* section 02 */

.hsec02 .lftblk {
  padding: 17% 25px 0 25px;
}
.hsec02 .sec2pTitle {
  font-size: 19px;
  font-weight: bold;
  line-height: 28px;
}
.hsec02 .sech2Line {
  background: #9F9F9F;
  height: 2px;
  width: 600px;
  position: relative;
  display: block;
  margin: 0 auto;
}
.hsec02 .sech2cir {
	background: #FFFFFF;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
	top: -6px;
}
.hsec02 .divline {
	margin: 50px 0 40px;
}
.hsec02 .hbgtitle {
	font-size: 210px;
	color: #5C5C5C;
	position: absolute;
	right: 20px;
	top: 60px;
	font-weight: bold;
	margin: 0;
}
.hsec02 .frntcir {
  background: #040B34;
  height: 440px;
  width: 440px;
  text-align: center;
  line-height: 440px;
  position: absolute;
  right: 0;
  top: 235px;
  border-radius: 50%;
  z-index: 10;
}
.hsec02 .backcir {
	background: #275E62;
	height: 440px;
	width: 440px;
	text-align: center;
	line-height: 440px;
	position: absolute;
	right: 30px;
	top: 235px;
	border-radius: 50%;
	z-index: 9;
	box-shadow: -32px 0 50px 15px rgba(0, 0, 0, 0.8);
}
.hsec02 .verttxt {
	font-size: 110px;
	writing-mode: tb-rl;
	transform: rotate(180deg);
	line-height: 440px;
	height: 440px;
  font-weight: bold;
}

/* section 03 */
.hsec02.hsec03 .hbgtitle {
	right: auto;
}
.hsec02.hsec03 .frntcir {
	right: auto;
	left: 0;
}
.hsec02.hsec03 .backcir {
	right: auto;
	box-shadow: 32px 0 50px 15px rgba(0, 0, 0, 0.8);
	left: 30px;
}

/* section 04 */
.hsec02.hsec04 .hbgtitle {
	color: #6A6A6A;
}

/* section 05 */
.hsec05 .sec05blk1 {
  height: 340px;
  background: #040B34;
  line-height: 340px;
  overflow: hidden;
}
.hsec05 .sec05blk1 h2 {
  font-size: 210px;
  margin: 0;
  padding: 0;
  line-height: 340px;
  color: #1B2147;
}
.hsec05 .sec05blk1 h3 {
	position: absolute;
	top: 123px;
	left: 0;
	font-size: 28px;
	line-height: 36px;
	width: 100%;
	text-align: center;
}
.hsec05 .sec05blk2 h3 {
  font-size: 26px;
  padding-top: 90px;
  padding-bottom: 30px;
  margin: 0;
}
.btn.forumbtn {
	position: absolute;
	top: 233px;
	left: 47%;
	background: #4475E3;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 35px;
	border-radius: 25px;
}
.hsec05 .smedia {
	width: 100%;
	display: block;
	margin: 0 auto 20px;
}
.smedia .row {
	margin-bottom: 5px;
}
.hsec05 .smedia .smedialt {
	width: 45%;
	padding-right: 8%;
	text-align: right;
  display: inline-block;
  font-size: 18px;
}
.hsec05 .smedia .smediart {
	width: 30%;
	text-align: left;
	padding-left: 17%;
  display: inline-block;
  font-size: 18px;
}

/* home page ends here */


/* visualise the future */

.vsec01 {
	padding: 8vh 0;
}
.vsec01 .vbgtitle {
	color: #696969;
	font-size: 196px;
	font-weight: bold;
	line-height: 206px;
	text-align: center;
  position: absolute;
  z-index: 5;
  margin-top: 230px;
  height: 196px;
	overflow: hidden;
}
.vs01Outcir {
  width: 84vh;
  height: 84vh;
  margin: 0 auto 0;
  border-radius: 50%;
  border: 1px solid #898989;
  z-index: 6;
  position: relative;
}
.vs01Inncir {
  width: 70vh;
  height: 70vh;
  margin: 7vh auto 0;
  border-radius: 50%;
  border: 1px solid #898989;
  z-index: 6;
  position: relative;
}
.vs01Inncir p {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-top: 34vh;
  margin-bottom: 20px;
}
.vsec1line {
  height: 1px;
  background: #fff;
  width: 99%;
  margin: 0 auto 30px;
}
.vsec1lineCir {
	background: #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	margin-top: -4px;
}
.vs01Inncir img {
  margin-left: 10px;
}
.vsec02 {
  padding-top: 1vh;
}
.lftblk .vs02Outcir {
	height: 98vh;
	width: 98vh;
	border: 1px solid #898989;
	border-radius: 50%;
	padding-top: 4.5vh;
	z-index: 9;
	position: absolute;
	left: 0;
}
.rtblk .vs02Outcir {
	height: 98vh;
	width: 98vh;
	border: 1px solid #898989;
	border-radius: 50%;
	padding-top: 4.5vh;
	z-index: 9;
	position: absolute;
	right: 0;
}
.vs02Inncir {
  height: 88vh;
  width: 88vh;
  border: 1px solid #898989;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}
.vsec02 .lftblk .verttxt {
	font-size: 260px;
	writing-mode: tb-rl;
	transform: rotate(180deg);
  font-weight: bold;
  left: 130px;
  position: absolute;
  top: 22vh;
}
.vsec02 .vbgtitle, .vsec03 .vbgtitle {
  font-size: 210px;
  color: #6A6A6A;
  font-weight: bold;
  text-align: right;
  margin-top: 28vh;
  line-height: 190px;
}
.vsec03 .rtblk .verttxt {
	font-size: 230px;
	writing-mode: tb-rl;
	transform: rotate(180deg);
  font-weight: bold;
  right: 130px;
  position: absolute;
  top: 22vh;
}
.vsec04 .vsec04title {
  color: #5C5C5C;
  font-size: 70px;
  font-weight: bold;
  position: absolute;
}
.vsec04 .vbgtitle1 {
  left: 32%;
  top: 8%;
}
.vsec04 .vbgtitle2 {
  left: 40%;
  top: 20%;
}
.vsec04 .vbgtitle3 {
  left: 47%;
  top: 32%;
}
.vsec04 .vbgtitle4 {
  left: 55%;
  top: 44%;
}
.vsec04 .vtxt {
  top: 54%;
  position: absolute;
  right: 40px;
}
.telescope_img img {
	position: absolute;
	bottom: 0;
	right: 30px;
	z-index: 10;
	width: 260px;
	height: auto;
}
.Qimg img {
	position: absolute;
	bottom: 0;
	right: 30px;
	z-index: 10;
	width: 234px;
	height: auto;
}
.alarm_img img {
	position: absolute;
	top: 60%;
	right: 100px;
	z-index: 10;
}
.house_img img {
	position: absolute;
	top: 72%;
	left: 50px;
	z-index: 10;
}
.f18 {
  font-size: 18px;
}
/* visualise the future ends here */


/* strong human page */

.shsec01p {
  width: 54%;
  margin: 0 auto 40px;
}
.shsec02.hsec02 .hbgtitle,
.shsec03.hsec02 .hbgtitle,
.shsec04.hsec02 .hbgtitle,
.shsec06.hsec02 .hbgtitle {
	font-size: 150px;
}
.shsec07.hsec05 .sec05blk1 h2 {
	font-size: 170px;
}
.shsec07.hsec05 .sec05blk1 h3 {
	left: 0;
}
.shsec06.hsec02.hsec04 {
	background-color: #4B4B4B;
}
.shsec06.hsec02.hsec04 .hbgtitle {
	color: #5C5C5C;
}
.shsec05 h2 {
  font-size: 140px;
  font-weight: bold;
  color: #5C5C5C;
  text-align: center;
  padding-top: 200px;
}
.shsec05 p {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 35%;
  margin: 20px auto 0;
}
.code_top {
	position: absolute;
	top: 95px;
	left: 126px;
}
.code_bottom {
  position: absolute;
  bottom: 95px;
  right: 126px;
}

/* strong human page ends here */

/* why will we succeed page */

.wwesc02Title {
  font-weight: bold;
  color: #009BFC;
}
.wwsec02.hsec02 .lftblk {
  padding: 22% 25px 0 25px;
}
.wwsec04.hsec02 .hbgtitle {
	font-size: 198px;
}
.wwsec03.hsec02 .lftblk {
	padding: 17% 25px 0 60px;
}
.wwsec05.hsec05 .sec05blk1 h2 {
	font-size: 144px;
}
.wwsec01.hsec01 img {
	position: absolute;
	bottom: 50px;
	left: 49%;
}
.wwsec01.hsec01 .rtblk p {
	text-align: center;
  margin-top: 100px;
  width: 90%;
  line-height: 28px;
}
.wwsec01 .vs01Outcir {
  width: 94vh;
  height: 94vh;
  border-radius: 50%;
  border: 1px solid #898989;
  z-index: 9;
  position: relative;
  position: absolute;
  left: -50vh;
  top: 3vh;
}
.wwsec01 .vs01Inncir {
  width: 86vh;
  height: 86vh;
  border-radius: 50%;
  border: 1px solid #898989;
  z-index: 6;
  position: relative;
  margin: 4vh auto 0;
}
.wwsec02.hsec02 {
	background-color: transparent;
}
.wwsec04.wwsec02.hsec02, .wwsec05.hsec05 {
	background-color: #4B4B4B;
}
.wwsec02.hsec02 .hbgtitle {
	color: #6A6A6A;
}
.wws1bgtitle {
  color: #6A6A6A;
  font-size: 210px;
  font-weight: bold;
  line-height: 210px;
}
.wws1txt {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  top: 30%;
  left: 70px;
  z-index: 5;
}
/* why will we succeed page ends here */

/* join us page */

.jsec01.hsec01 p {
	margin-top: 45px;
	margin-bottom: 40px;
}
.jsec01.hsec01 img {
	margin-left: 15px;
}
.jsec03.hsec05 {
	background: #4B4B4B;
	clear: both;
}
.jsec02.hsec01 {
  background: #5a5a5a;
}
.jsec02 {
	padding: 80px 0 30px;
}
.jsec02.hsec01 .sech1Line {
	margin: 0 auto 45px;
}
.jsec02Title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 150px 0 70px;
}
.jsec02Btn button {
	background: #ACACAC;
	padding: 10px 30px;
	border-radius: 20px;
	font-size: 20px;
	color: #000;
	border: 0px solid #ccc;
	margin-right: 20px;
}
.jsec02Btn button:last-child {
 margin-right: 0px;
}
.jsec02 .form-horizontal .jlblk, .jsec02 .form-horizontal .jrblk {
	padding: 0 50px;
	margin: 0;
}
.jsec02 .form-horizontal .control-label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: left;
	padding-left: 0;
	display: block;
	width: 100%;
}
.jsec02 .jschkbox {
  display: inline-block;
}
.jsec02 .form-check label {
  margin-right: 20px;
  min-width: 104px;
}
.jsec02 .radio label {
  margin-right: 20px;
  display: inline-block;
}
.jsec02 input[type="checkbox"] {
	margin: 4px 8px 0 0;
	margin-top: 1px \9;
}
.jlblk .form-group input.form-control,
.jrblk .form-group input.form-control {
	border-radius: 20px;
  margin-bottom: 5px;
}
.jrblk textarea.form-control {
	height: auto;
	border-radius: 20px;
	padding: 10px 13px;
}

/* join us page ends here */

/* focus areas */

.fasec01 .wws1txt {
	left: 10px;
}
.fasec02 .vs02Outcir {
	float: right;
	margin-right: 25px;
}
.faTxt1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.faTxt2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.faTitle1 {
	position: absolute;
	top: 8%;
	left: 6%;
  z-index: 10;
}
.faTitle2 {
	position: absolute;
	top: 20%;
	left: 22%;
  z-index: 10;
}
.faTitle3 {
	position: absolute;
	top: 32%;
	left: 33%;
  z-index: 10;
}
.faTitle4 {
	position: absolute;
	top: 44%;
	left: 51%;
  z-index: 10;
}
.faTitle5 {
	position: absolute;
	top: 56%;
	left: 58%;
  z-index: 10;
}
.faTitle6 {
	position: absolute;
	top: 68%;
	left: 79%;
  z-index: 10;
}
.faTitle7 {
	position: absolute;
	top: 80%;
	left: 87%;
  z-index: 10;
}


/* focus areas ends here */

/* what do we do page */

.wdsec01.vsec01 .vbgtitle {
	font-size: 180px;
}
.wdsec02.hsec05 .sec05blk1 {
	height: 420px;
	background: #5A5A5A;
	line-height: inherit;
}
.wdsec02cl1, .wdsec02cl2, .wdsec02cl3 {
  width: 33%;
  display: inline-block;
  text-align: center;
  padding-top: 120px;
}
.wdsec02 .sec05blk1 h4 {
	font-size: 40px;
	font-weight: bold;
	margin: 0 0 15px 0;
}
.wdsec02 .sec05blk1 p {
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 15px 0;
}
.wdsec02 .sec05blk1 a {
	font-weight: bold;
	color: #000;
	background: #4475E3;
	padding: 10px 25px;
	border-radius: 20px;
	display: inline-block;
}
.wdsec02 .sec05blk1 a:hover {
  text-decoration: none;
}

/* what do we do page ends here */

/* academy page */

.acsec01 .wws1bgtitle {
	margin-left: -40px;
}
.acblkp {
  width: 90%;
  text-align: center;
}
.acsec03 .acblkp {
	margin-top: 80px;
}
.acsec05.hsec05 .sec05blk1 {
	position: relative;
}
.ac05Btn {
  color: #464646;
  background: #B2B2B2;
  font-weight: bold;
  padding: 12px 15px;
  border-radius: 25px;
  position: absolute;
  top: 42%;
  left: 46%;
  line-height: 18px;
  border: 0px solid #fff;
  font-size: 18px;
}

/* academy page ends here */

/* business transformation page */

.btsec01.wwsec01.hsec01 .rtblk p {
	float: right;
}
.btsec01 .wws1txt {
	left: 50px;
}
.btsec02 .faTitle1 {
	left: 6%;
  top: 8%;
}
.btsec02 .faTitle2 {
	top: 20%;
	left: 18%;
}
.btsec02 .faTitle3 {
	top: 36%;
	left: 38%;
}
.btsec02 .faTitle4 {
	top: 50%;
	left: 51%;
}
.btsec02 .faTitle5 {
	top: 67%;
	left: 64%;
}
.btsec02 .faTitle6 {
	top: 81%;
	left: 83%;
}
.btsec02 .faTitle8 {
	position: absolute;
	top: 80%;
	left: 83%;
  z-index: 10;
}
.btsec02 .wws1bgtitle {
	position: absolute;
  top: 36%;
  left: -5%;
}
.btsec02 .wws1txt {
	top: 46%;
  left: 2%;
}

/* business transformation page ends here */

/* think tanks page */

.ttsec01.btsec01.wwsec01.hsec01 .rtblk p {
  float: none;
	margin: 100px auto 0;
  width: 80%;
}
.ttsec02 .wws1bgtitle {
	font-size: 130px;
	left: 0;
}
.ttsec02 .faTitle1 {
	left: 6%;
}
.ttsec02 .faTitle2 {
	left: 17%;
  top: 18%;
}
.ttsec02 .faTitle3 {
	left: 28%;
  top: 29%;
}
.ttsec02 .faTitle4 {
	left: 36%;
  top: 39%;
}
.ttsec02 .faTitle5 {
	left: 42%;
  top: 50%;
}
.ttsec02 .faTitle6 {
	left: 55%;
  top: 60%;
}
.ttsec02 .faTitle7 {
	left: 62%;
  top: 70%;
}
.ttsec02 .faTitle8 {
  position: absolute;
	top: 82%;
	left: 77%;
  z-index: 10;
}
.ttsec02 .faTitle9 {
  position: absolute;
	top: 90%;
	left: 88%;
  z-index: 10;
}

/* think tanks page ends here */

/* team page */

.teamsec04 {
  padding-top: 50px;
}
.tmline {
  width: 2px;
  height: 225px;
  background: #fff;
  margin: 0 auto 8px;
  z-index: 6;
  position: relative;
}
.tmdotcir1 {
  width: 13px;
  height: 13px;
  background: #fff;
  margin: 0 auto 8px;
  border-radius: 50%;
  z-index: 6;
  position: relative;
}
.tmdotcir2 {
  width: 48px;
  height: 48px;
  background: #fff;
  margin: 0 auto 30px;
  border-radius: 50%;
  z-index: 6;
  position: relative;
}
.tmoutcir {
  width: 280px;
  height: 280px;
  border: 3px solid #707070;
  margin: 0 auto 30px;
  border-radius: 50%;
  z-index: 6;
  position: relative;
  overflow: hidden;
}
.tmoutcir img {
	width: 100%;
	height: auto;
}
.teamttl{
  color: #009BFC;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.tmbgttl {
  position: absolute;
  top: 22%;
  left: 41%;
  font-size: 130px;
  font-weight: bold;
  color: #6A6A6A;
  z-index: 5;
}
.teamtxt {
  position: absolute;
  right: 13%;
  bottom: 32%;
  font-size: 15px;
}
.teamsec05 .teamtxt {
	right: auto;
	left: 2%;
}
.teamsec06 .tmbgttl, .teamsec07 .tmbgttl {
	left: 44%;
}
.teamsec06 .teamtxt {
	right: 2%;
}
.teamsec.hsec01 p {
	margin-top: 0;
}
.teamsec07 .teamtxt {
	position: absolute;
	right: auto;
	bottom: 32%;
	font-size: 15px;
	width: 560px;
	text-align: center;
	left: 2%;
}
.teamCont {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 80px 20px;
}
.teamM {
	width: 264px;
	height: auto;
	display: inline-block;
	margin: 0 30px 20px 0;
	border: 0px solid #707070;
	overflow: hidden;
	text-align: center;
  vertical-align: top;
}
.teamM img {
	width: 260px;
	height: auto;
	border-radius: 50%;
	border: 2px solid #707070;
	margin-bottom: 10px;
}
.teamM .cmName {
	font-weight: bold;
	margin-bottom: 5px;
}
.teamM .cmDes {
	margin-bottom: 0px;
}
.cmtxt {
  text-align: center;
  margin-bottom: 50px;
  color: #009AFB;
  font-weight: bold;
}

/* team page ends here */

.forgotpassworddiv h4 {
	margin-top: 70px;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.forgotpassworddiv button {
	display: block;
	clear: both;
	float: right;
	margin: 15px 0 0 0;
}
.forgotpassworddiv input.form-control, .cpwpg input.form-control {
	border-radius: 20px;
}
.fpdiv .go_to_home {
	float: right;
	margin-right: 25px;
	margin-top: 14px;
}
.fpdiv button {
	display: inline-block;
	margin-top: 10px;
}
.hsec01 form p {
	margin-top: 0px;
}
form .form-group button {
	margin-bottom: 20px;
}

.hsec01.hmpg {
background: url('./components/assets/images/home_bg.jpg') center top no-repeat;
background-attachment: inherit;
background-position: 50%;
background-size: cover;
min-height: 100vh;
position: relative;
padding: 0;
}
.homeBgTransparent {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.hsec01.hmpg p {
	margin-top: 0;
}
.hmpg .hmltblk {
	padding: 0;
	position: absolute;
	width: 450px;
	top: 180px;
	left: 130px;
}
.hsec01.hmpg h1 {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 20px;
}
.hmpg .hmpgtxt {
	font-size: 40px;
	line-height: 46px;
	margin-bottom: 30px;
}
.hmrtblk {
  position: absolute;
  top: 180px;
  right: 130px;
  width: 300px;
}
.formh {
	bottom: auto;
	position: relative;
}
.txtgrn {
  color: #93B461;
}
.hmrtblk h4 {
  font-size: 20px;
}

.errmodal .modal-footer {
	display: block;
}
.modal-header button {
	opacity: 1;
}
.modal-header .close {
	font-size: 22px;
}
.modal-header .close {
	margin-top: -11px;
}
.fpwinfo h4, .cpwpg h4 {
	margin-top: 130px;
}
.hsec01.contactpg {
  padding-top: 30px;
}
.hsec01.contactpg p {
	margin-top: 25px;
	margin-bottom: 35px;
}
.contactpg .form-control {
	max-width: 450px;
}
.smedia {
  margin-bottom: 10px;
}
.smedia a {
  margin-right: 12px;
}
.smedia a:last-child {
  margin-right: 0px;
}
.uparrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.form-control {
	max-width: 450px;
	margin: 0 auto;
}
.form-horizontal .form-group {
	margin-right: auto;
	margin-left: auto;
	max-width: 450px;
}
.contactpg .form-control {
	max-width: 450px;
	margin: 0 0 25px 0;
	border-radius: 5px;
}
.mbForm {
  display: none;
}
.divfrnt {
	z-index: 12;
	position: relative;
}
.navcell .navbar-nav li:hover a, .navcell .navbar-nav li.active a {
  color: #88B54D;
}
.navcell .navbar-nav li:hover .dropdown-menu li a {
  color: #fff;
}
.navcell .navbar-nav li:hover .dropdown-menu li:hover a {
  color: #88B54D;
}
.headerrow {
	position: fixed;
	top: 0;
	background: #5a5a5a;
	left: 0;
	z-index: 999;
	width: 100%;
}
.navcell .navbar-nav li:hover .dropdown-menu li:hover a {
  color: #88B54D;
}
.jsec02.stq {
	padding: 135px 0 30px;
	min-height: 100vh;
}
