@media screen and (min-width: 1201px) and (max-width: 1600px){
.shsec07.hsec05 .sec05blk1 h2 {
	font-size: 130px;
}
.hsec02 .sech2Line {
	width: 470px;
}
.wwsec05.hsec05 .sec05blk1 h2 {
	font-size: 110px;
}
.faTxt1 {
	font-size: 32px;
}
.faTxt2 {
	font-size: 18px;
}
.wws1txt {
	font-size: 36px;
}
.btsec02 .wws1txt {
	top: 50%;
}

}

@media screen and (min-width: 1201px) and (max-width: 1500px){
.hmpg .hmltblk {
	width: 370px;
	top: 160px;
	left: 80px;
}
.hmrtblk {
	position: absolute;
	top: 170px;
	right: 80px;
}
.hsec01.hmpg h1 {
	font-size: 50px;
}
}

@media screen and (min-width: 1401px) and (max-width: 1600px){
.wwsec04.hsec02 .hbgtitle {
	font-size: 170px;
}
.teamtxt {
	right: 45px;
}
.teamsec05 .teamtxt {
	width: 38%;
	text-align: center;
}
.teamsec06 .teamtxt {
	width: 36%;
	text-align: center;
}
.teamsec07 .teamtxt {
	width: 38%;
	text-align: center;
}
}

@media screen and (max-width: 1400px){
.rtblk .vs02Outcir {
	height: 400px;
	width: 400px;
	padding-top: 0;
	position: absolute;
	right: 0;
	margin-top: 155px;
}
.rtblk .vs02Inncir {
	height: 360px;
	width: 360px;
	position: absolute;
	right: 18px;
	top: 20px;
}
.vsec03 .rtblk .verttxt {
	font-size: 120px;
	right: 63px;
	position: absolute;
	top: 98px;
}
.lftblk .vs02Outcir {
	height: 400px;
	width: 400px;
	padding-top: 0;
	position: absolute;
	left: 0;
	margin-top: 155px;
}
.lftblk .vs02Inncir {
	height: 360px;
	width: 360px;
	position: absolute;
	left: 18px;
	top: 20px;
}
.lftblk .verttxt {
	font-size: 150px;
	left: 63px;
	position: absolute;
	top: 98px;
}
.vsec02 .lftblk .verttxt {
	font-size: 150px;
	left: 63px;
	position: absolute;
	top: 98px;
}
.alarm_img img {
	position: absolute;
	top: 72%;
	right: 1%;
	z-index: 10;
	width: 238px;
}
.house_img img {
	position: absolute;
	top: 72%;
	left: 2%;
	z-index: 10;
	width: 238px;
}
.hsec05 .sec05blk1 {
	height: 260px;
	line-height: 260px;
}
.hsec05 .sec05blk1 h2 {
	line-height: 260px;
}
.contactsec.hsec05 .sec05blk1 h2 {
	font-size: 174px;
}
.hsec05 .sec05blk2 h3 {
	font-size: 26px;
	padding-top: 50px;
	padding-bottom: 30px;
}
.hsec05 {
	min-height: auto;
	padding-bottom: 50px;
}
.wdsec02.hsec05 .sec05blk1 {
	height: 250px;
	padding-top: 50px;
	background: #5a5a5a;
}
.hsec01 {
	padding-top: 100px;
}
.btsec02 .wws1txt {
	top: 50%;
}
.teamtxt {
	right: 45px;
}
.teamsec05 .teamtxt {
	width: 38%;
	text-align: center;
}
.teamsec06 .teamtxt {
	width: 36%;
	text-align: center;
}
.teamsec07 .teamtxt {
	width: 38%;
	text-align: center;
}
.wdsec02cl1, .wdsec02cl2, .wdsec02cl3 {
	padding-top: 20px;
}
.hsec05 .sec05blk1 h3 {
	top: 73px;
}
.vsec04 .vsec04title {
	font-size: 64px;
}
}

@media screen and (min-width: 1201px) and (max-width: 1400px){
.hsec02 .hbgtitle, .wws1bgtitle {
	font-size: 160px;
}
.wwsec04.hsec02 .hbgtitle {
	font-size: 140px;
}
}

@media screen and (max-width: 1200px){
.shsec07.hsec05 .sec05blk1 h2 {
	font-size: 130px;
}
.hsec02 .sech2Line {
	width: 470px;
}
.vsec01 .vbgtitle, .wdsec01.vsec01 .vbgtitle {
	font-size: 148px;
	margin-top: 176px;
}
.hsec02 .hbgtitle, .wws1bgtitle {
	font-size: 160px;
}
.wwsec04.hsec02 .hbgtitle {
	font-size: 124px;
}
.alarm_img img {
	position: absolute;
	top: 92%;
	right: 0;
	z-index: 10;
	width: 195px;
}
.house_img img {
	position: absolute;
	top: 88%;
	left: 0px;
	z-index: 10;
	width: 195px;
}
.vs01Outcir {
	width: 470px;
	height: 470px;
	margin: 70px auto 0;
}
.vs01Inncir {
	width: 440px;
	height: 440px;
	margin: 14px auto 0;
}
.vs01Inncir p {
	font-size: 32px;
	font-weight: bold;
	margin-top: 182px;
	margin-bottom: 20px;
}
.wwsec01 .vs01Outcir {
	width: 460px;
	height: 460px;
	left: -230px;
	top: 20px;
}
.wwsec01 .vs01Inncir {
	width: 440px;
	height: 440px;
	margin: 10px auto 0;
}
.fasec01 {
	min-height: 580px;
}
.wws1txt {
	font-size: 30px;
}
.wwsec03.hsec02 .lftblk {
	padding: 100px 25px 0 30px;
}
.wwsec01.hsec01 .rtblk p {
	margin-top: 30px;
}
.faTxt1 {
	font-size: 32px;
}
.faTxt2 {
	font-size: 18px;
}
.teamM {
	width: 220px;
}
.teamM img {
	width: 216px;
}
.hmpg .hmltblk {
	top: 120px;
	left: 40px;
}
.hmrtblk {
	top: 135px;
	right: 40px;
}
.hsec01.hmpg h1 {
	font-size: 45px;
}
}

@media screen and (min-width: 1025px) and (max-width: 1199px){
.hsec05 .sec05blk1 h2, .wdsec02.hsec05 .sec05blk1 h2 {
	font-size: 170px;
}
.contactsec.hsec05 .sec05blk1 h2 {
	font-size: 136px;
}
.hsec02 .sech2Line {
	width: 395px;
}
.hsec02 .hbgtitle, .wwsec04.hsec02 .hbgtitle, .wws1bgtitle {
	font-size: 124px;
}
.hsec05 .sec05blk1 h3, .wdsec02.hsec05 .sec05blk1 h3 {
	left: 0;
}
.shsec07.hsec05 .sec05blk1 h2 {
	font-size: 106px;
}
.shsec07.hsec05 .sec05blk1 h3 {
	left: 22%;
}
.shsec02.hsec02 .hbgtitle, .shsec03.hsec02 .hbgtitle,
.shsec04.hsec02 .hbgtitle, .shsec06.hsec02 .hbgtitle {
	font-size: 110px;
}
.hsec02 .frntcir, .hsec02 .backcir {
	top: 190px;
}
.code_top {
	left: 50px;
}
.code_bottom {
	right: 50px;
}
.shsec05 h2 {
	font-size: 110px;
}
.shsec05 p {
	font-size: 18px;
	width: 55%;
}
.wwsec05.hsec05 .sec05blk1 h2 {
	font-size: 96px;
}
.faTxt1 {
	font-size: 32px;
}
.faTxt2 {
	font-size: 18px;
}
.faTitle1 {
	left: 1%;
}
.faTitle2 {
	left: 16%;
}
.faTitle3 {
	left: 26%;
}
.faTitle4 {
	left: 45%;
}
.faTitle5 {
	left: 48%;
}
.faTitle6 {
	left: 70%;
}
.faTitle7 {
	left: 77%;
}
.navcell .navbar {
	text-align: right;
	width: 65%;
	float: right;
  padding-top: 15px;
}
.nav > li > a {
	line-height: 30px;
}
.hsec01 {
	clear: both;
}
.headerrow {
	padding-bottom: 10px;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
.headerrow {
	padding-bottom: 10px;
}
.navcell .navbar {
	text-align: right;
	width: 58%;
	float: right;
  padding-top: 15px;
}
.nav > li > a {
	line-height: 30px;
}
.hsec01 {
	clear: both;
}
.hsec02 .hbgtitle, .wwsec04.hsec02 .hbgtitle {
	font-size: 90px;
	top: 15px;
}
.hsec01 p.wws1bgtitle {
	margin-top: 95px;
	font-size: 90px;
}
.btsec02 .wws1bgtitle {
	font-size: 90px;
}
.hsec01 p.wws1txt {
	font-size: 22px;
	margin-top: 82px;
}
.shsec02.hsec02 .hbgtitle, .shsec03.hsec02 .hbgtitle,
.shsec04.hsec02 .hbgtitle, .shsec06.hsec02 .hbgtitle {
	font-size: 90px;
}
.hsec02 .sech2Line {
	width: 280px;
}
.hsec05 .sec05blk1, .wdsec02.hsec05 .sec05blk1 {
	height: 200px;
	line-height: 200px;
}
.hsec05 .sec05blk1 h2, .wdsec02.hsec05 .sec05blk1 h2 {
	font-size: 130px;
	line-height: 200px;
}
.contactsec.hsec05 .sec05blk1 h2 {
	font-size: 100px;
}
.hsec05 .sec05blk1 h3, .wdsec02.hsec05 .sec05blk1 h3 {
	left: 0;
	top: 60px;
}
.hsec05 .smedia .smedialt {
	width: 40%;
}
.hsec05 .smedia .smediart {
	width: 35%;
}
.shsec07.hsec05 .sec05blk1 h2 {
	font-size: 84px;
}
.shsec07.hsec05 .sec05blk1 h3 {
	left: 12%;
}
.hsec02 .frntcir, .hsec02 .backcir {
	top: 160px;
}
.code_top {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 64px;
	height: auto;
}
.code_bottom {
	position: absolute;
	bottom: 60px;
	right: 20px;
	width: 64px;
	height: auto;
}
.shsec05 h2 {
	font-size: 80px;
	padding-top: 100px;
}
.shsec05 p {
	font-size: 18px;
	width: 60%;
}
.wdsec02.hsec05 .sec05blk1 {
	height: 250px;
	padding-top: 50px;
	background: #5a5a5a;
}
}

@media screen and (max-width: 1024px){
.vsec04 .vsec04title {
	font-size: 60px;
}
.vsec02 .vbgtitle, .vsec03 .vbgtitle {
	font-size: 160px;
	line-height: 160px;
}
.alarm_img img {
	position: absolute;
	top: auto;
	right: 20px;
	z-index: 10;
	width: 200px;
}
.telescope_img img {
	width: 200px;
}
.Qimg img {
	width: 180px;
	height: auto;
}
.house_img img {
	position: absolute;
	top: auto;
	left: 20px;
	z-index: 10;
}
.wdsec02cl1, .wdsec02cl2, .wdsec02cl3 {
	display: inline-block;
	padding-top: 20px;
	line-height: initial;
}
.wdsec02 .sec05blk1 h4 {
	font-size: 34px;
}
.wdsec02 .sec05blk1 p {
	font-size: 20px;
	margin: 0 0 25px 0;
}
.wwsec05.hsec05 .sec05blk1 h2 {
	font-size: 70px;
}
.fasec02 .vs02Inncir {
	height: 500px;
	width: 500px;
}
.faTitle1, .faTitle2, .faTitle3, .faTitle4,
.faTitle5, .faTitle6, .faTitle7, .ttsec02 .faTitle1, .ttsec02 .faTitle2,
.ttsec02 .faTitle3, .ttsec02 .faTitle4, .ttsec02 .faTitle5,
.ttsec02 .faTitle6, .ttsec02 .faTitle7, .ttsec02 .faTitle8,
.ttsec02 .faTitle9, .btsec02 .faTitle1, .btsec02 .faTitle2, .btsec02 .faTitle3,
.btsec02 .faTitle4, .btsec02 .faTitle5, .btsec02 .faTitle6 {
	position: relative;
	top: auto;
	left: auto;
	margin-bottom: 30px;
}
.faTitle1 p, .faTitle2 p, .faTitle3 p, .faTitle4 p,
.faTitle5 p, .faTitle6 p, .faTitle7 p {
	text-align: center;
}
.fasec02 .vs02Outcir {
	float: none;
	position: absolute;
	right: 25px;
}
.acblkp, .wwsec01.hsec01 .rtblk p {
	width: 100%;
}
.btsec02 .wws1txt {
	font-size: 24px;
}
.teamtxt, .teamsec07 .teamtxt,
.teamsec05 .teamtxt, .teamsec06 .teamtxt {
	right: auto;
	position: relative;
	width: 90%;
	text-align: center;
	left: auto;
	margin-right: auto;
	margin-left: auto;
}
.teamsec04, .teamsec05, .teamsec06, .teamsec07 {
	padding-bottom: 30px;
}
.teamM {
	width: 218px;
}
.teamM img {
	width: 214px;
}
}

@media screen and (max-width: 991px){
.hsec02 .frntcir {
	height: 300px;
	width: 300px;
	line-height: 300px;
	top: 160px;
}
.hsec02 .backcir {
	height: 300px;
	width: 300px;
	line-height: 300px;
	right: 20px;
	top: 160px;
}
.hsec02 .verttxt {
	font-size: 80px;
	line-height: 300px;
	height: 300px;
}
.vsec04 .vsec04title {
	font-size: 46px;
}
.rtblk .f18 {
	text-align: right;
}
.lftblk .vs02Outcir {
	height: 300px;
	width: 300px;
	left: 0;
	margin-top: 20px;
}
.lftblk .vs02Inncir {
	height: 270px;
	width: 270px;
	left: 13px;
	top: 15px;
}
.vsec02 .lftblk .verttxt {
	font-size: 110px;
	left: 46px;
	top: 64px;
}
.rtblk .vs02Outcir {
	height: 300px;
	width: 300px;
	padding-top: 0;
	right: 0;
	margin-top: 12px;
}
.rtblk .vs02Inncir {
	height: 270px;
	width: 270px;
	right: 15px;
	top: 15px;
}
.vsec03 .rtblk .verttxt {
	font-size: 110px;
	right: 46px;
	top: 64px;
}
.vsec02 .vbgtitle, .vsec03 .vbgtitle {
	font-size: 90px;
	line-height: 90px;
	margin-top: 20px;
}
.vsec02 .ltblk .vbgtitle, .vsec03 .ltblk .vbgtitle {
	text-align: left;
}
.vsec02 {
	padding-top: 80px;
}
.btsec01.hsec01 p.wws1txt {
	margin-top: 22px;
}
.hmpg .hmltblk {
	top: 150px;
	left: 25px;
	width: 258px;
}
.hmrtblk {
	top: 160px;
	right: 25px;
	width: 210px;
}
.hsec01.hmpg h1 {
	font-size: 34px;
}
.hmpg .hmpgtxt {
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 30px;
}
.jsec02.hsec01 {
	padding: 120px 0 30px;
}
}

@media screen and (max-width: 767px){
.headerrow {
	background: #5a5a5a;
	width: 100%;
	z-index: 999;
	position: fixed;
	padding-bottom: 0px;
}
.hsec01.hmpg h1 {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 280px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #040B34;
	text-align: center;
}
.nav > li > a {
	line-height: 36px;
}
.nav > li:first-child a {
	margin-top: 15px;
}
.nav > li:last-child a {
	margin-bottom: 0;
}
.nav {
	padding-bottom: 10px;
}
.dropdown-menu {
	text-align: center;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 5px 0px 5px 0px;
}
.flrow {
	display: grid;
}
.hsec02 .seccell01 {
	order: 1;
}
.hsec02 .seccell02 {
	order: 2;
}
.hsec01 {
	padding-top: 80px;
}
.hsec01.hmsn {
	padding-top: 50px;
}
.hsec01 h1 {
	font-size: 24px;
}
.hsec01 .sech1Line {
	width: 480px;
}
.hsec02 .sech2Line {
	width: 95%;
}
.hsec01 p {
	margin-top: 40px;
}
.arrimg img {
	width: 40px;
	height: auto;
}
.hsec02 .lftblk {
	padding: 30px 15px 15px 15px;
}
.hsec02 .rtblk {
	padding: 15px 15px 30px 15px;
}
.hsec05 .sec05blk1 {
	height: 120px;
	line-height: 120px;
}
.wdsec02.hsec05 .sec05blk1 {
	height: auto;
	line-height: initial;
	padding-bottom: 20px;
}
.wdsec02cl1, .wdsec02cl2, .wdsec02cl3 {
	display: inline-block;
	padding-top: 20px;
	line-height: initial;
	width: 100%;
	margin-bottom: 30px;
}
.hsec05 .sec05blk1 h2, .wdsec02.hsec05 .sec05blk1 h2 {
	font-size: 100px;
	line-height: 120px;
}
.hsec05 .sec05blk1 h3, .wdsec02.hsec05 .sec05blk1 h3 {
	top: 24px;
	left: 22%;
}
.hsec02 .hbgtitle {
	font-size: 60px;
	line-height: 100px;
	float: left;
	display: inline-block;
	position: relative;
	top: auto;
	margin-top: 40px;
	margin-left: 0;
	right: auto;
}
.hsec02 .frntcir {
	height: 180px;
	width: 180px;
	line-height: 180px;
	box-shadow: -17px 0 20px 5px rgba(0, 0, 0, 0.8);
	float: right;
	position: relative;
	display: inline-block;
	top: auto;
	margin-top: 15px;
}
.hsec02 .verttxt {
	font-size: 54px;
	line-height: 180px;
	height: 180px;
}
.hsec02 .backcir {
	display: none;
}
.hsec05 .sec05blk2 h3, .hsec05.wdsec02 .sec05blk2 h3 {
	font-size: 26px;
	padding-bottom: 30px;
	padding-top: 0;
}
.sec05blk2 {
	padding: 30px 0;
}
.hsec05 .smedia {
	width: 100%;
	display: block;
	margin: 0 auto 20px;
}
.hsec05 .smedia .smedialt {
	width: 100%;
	padding-right: 0;
	font-size: 18px;
	text-align: center;
}
.hsec05 .smedia .smediart {
	width: 100%;
	padding-left: 0;
	text-align: center;
	margin-bottom: 18px;
	font-size: 18px;
}
.shsec07.hsec05 .sec05blk1 h2 {
	font-size: 54px;
}
.shsec07.hsec05 .sec05blk1 h3 {
	left: 13%;
	font-size: 20px;
}
.shsec02.hsec02 .hbgtitle, .shsec03.hsec02 .hbgtitle, .shsec05 h2,
.shsec04.hsec02 .hbgtitle, .shsec06.hsec02 .hbgtitle {
	font-size: 50px;
	line-height: 68px;
	margin-top: 20px;
}
.code_top {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 64px;
	height: auto;
}
.code_bottom {
	position: absolute;
	bottom: 60px;
	right: 20px;
	width: 64px;
	height: auto;
}
.shsec05 h2 {
	padding-top: 60px;
}
.shsec05 p {
	font-size: 16px;
	width: 85%;
}
.vsec03 p.text-right {
	text-align: left;
}
.vsec04 .vsec04title {
	font-size: 42px;
}
.vsec04 .vbgtitle1 {
	left: 30px;
	top: 45px;
}
.vsec04 .vbgtitle2 {
	left: 50px;
	top: 106px;
}
.vsec04 .vbgtitle3 {
	left: 128px;
	top: 170px;
}
.vsec04 .vbgtitle4 {
	left: 180px;
	top: 228px;
}
.hsec05 .sec05blk1 h2, .wdsec02.hsec05 .sec05blk1 h2 {
	font-size: 80px;
}
.hsec05 .sec05blk1 h3, .wdsec02.hsec05 .sec05blk1 h3 {
	top: 27px;
	left: 0;
	font-size: 22px;
	line-height: 28px;
}
.vsec05.hsec05 .sec05blk1 h3 {
	top: 12px;
}
.vs01Outcir {
	margin: 30px auto 0;
}
.vsec01 .vbgtitle {
	font-size: 64px;
	margin-top: 136px;
}
.wdsec01.vsec01 .vbgtitle {
	font-size: 85px;
	margin-top: 136px;
}
.telescope_img img {
	width: 150px;
	right: 20px;
}
.Qimg img {
	width: 120px;
	height: auto;
}
.lftblk .vs02Outcir, .rtblk .vs02Outcir {
	position: relative;
}
.rtblk .vs02Outcir {
	float: right;
}
.alarm_img img {
	position: relative;
	float: right;
}
.wwsec03.hsec02 .rtblk, .wwsec02.hsec02 .rtblk {
	padding: 15px 15px 10px 15px;
}
.wwsec03.hsec02 .lftblk, .wwsec02.hsec02 .lftblk {
	padding: 10px 25px 0 30px;
}
.wwsec04.hsec02 .hbgtitle {
	font-size: 60px;
	top: 15px;
	line-height: 60px;
	margin-top: 0;
}
.wwsec01.hsec01 img {
	position: relative;
	bottom: 10px;
	left: auto;
	width: 35px;
	margin-top: 10px;
}
.wwsec01 .vs01Outcir {
	width: 360px;
	height: 360px;
	left: -180px;
	top: 40px;
}
.wwsec01 .vs01Inncir {
	width: 340px;
	height: 340px;
}
.hsec01 p.wws1bgtitle {
	margin-top: 80px;
	font-size: 100px;
}
.hsec01 p.wws1txt {
	margin-top: 72px;
	font-size: 24px;
}
.wwsec01.hsec01 .rtblk p {
	width: 100%;
}
.fasec02 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.fasec02 .vs02Inncir {
	height: 400px;
	width: 400px;
}
.ttsec01.btsec01.wwsec01.hsec01 .rtblk p {
	width: 100%;
}
.ttsec02 .wws1bgtitle {
	font-size: 78px;
	left: 0;
}
.acsec03 .acblkp {
	margin-top: 20px;
}
.btsec02 .wws1bgtitle {
	font-size: 90px;
}
.tmbgttl {
	top: 15%;
	left: 30%;
	font-size: 100px;
}
.teamsec06 .tmbgttl, .teamsec07 .tmbgttl {
	left: 38%;
}
.teamM {
	width: 218px;
	display: block;
	margin: 0 auto 30px;
}
.teamM img {
	width: 214px;
}
.teamCont {
	padding: 30px 0 30px 0px;
}
.jsec02 .form-check.col-xs-12 {
	width: auto;
	min-width: auto;
}
.jsec02 .form-check label {
	margin-right: 0px;
	min-width: auto;
}
.logocell img.desklogo {
	width: 213px;
	margin-top: -18px;
	margin-left: -10px;
}
.hmpg .hmltblk {
	top: auto;
	left: auto;
	width: 100%;
	position: relative;
	padding: 70px 20px 20px 30px;
	text-align: center;
}
.hsec01.hmpg h1 {
	font-size: 32px;
}
.hmrtblk {
	top: auto;
	right: auto;
	max-width: 240px;
	position: relative;
	margin: 0 auto;
	padding: 0px 0px 20px 0px;
	display: none;
}
.mbForm {
	display: block;
	text-align: center;
	position: relative;
	z-index: 99;
	margin-top: 100px;
}
.txtgrn {
  color: #fff;
}
.homeBgTransparent {
	z-index: 99;
}
.hmrtblk form {
	z-index: 100;
	position: relative;
}
.navbar-toggle {
	margin-top: 7px;
	margin-right: 15px;
	margin-bottom: 8px;
	padding: 5px 6px;
}
.navcell .navbar {
	min-height: 40px;
}
.logocell {
	top: 8px;
}
.hsec01.contactpg {
	padding-top: 35px;
	padding-bottom: 30px;
}
.wwsec01.hsec01 .rtblk p {
	margin-top: 0;
}
.form-group {
	margin-bottom: 15px;
	text-align: center;
}
.contactpg .form-control {
	max-width: 450px;
	display: block;
	margin: 0 auto;
}
.form-horizontal .radio, .form-horizontal .checkbox {
	text-align: left;
}
.jsec02 .form-check {
	padding: 0;
}
.jsec02 .form-check label {
	font-size: 14px;
	margin-right: 20px;
}
img.dwarr {
	width: 45px;
}
.jsec02.hsec01 {
	padding: 70px 0 30px;
}
.navbar-default .navbar-nav > .open > a {
  background: #040B34 !important;
  color: #5A5;
}
}

@media screen and (max-width: 600px){
.shsec01p {
	width: 84%;
}
img.dwarr {
	width: 38px;
}
}

@media screen and (max-width: 560px){
.shsec07.hsec05 .sec05blk1 h3 {
	left: 4%;
}
.wwsec04.hsec02 .hbgtitle {
	font-size: 48px;
	margin-top: 0;
	top: 0;
	line-height: 48px;
}
.hsec01 p.wws1bgtitle {
	margin-top: 65px;
	font-size: 90px;
}
.hsec01 p.wws1txt {
	margin-top: 72px;
	font-size: 18px;
	left: 52px;
	top: 79px;
	display: none;
}
.tmbgttl {
	top: 15%;
	left: 28%;
	font-size: 90px;
}
}

@media screen and (min-width: 480px) and (max-width: 767px){
.wwsec05.hsec05 .sec05blk1 h2 {
	font-size: 45px;
}
}

@media screen and (min-width: 480px) and (max-width: 600px){
.hsec01 .sech1Line {
	width: 90%;
}
}

@media screen and (max-width: 479px){
.hsec01 {
	padding: 80px 15px 40px;
	min-height: auto;
}
.hsec01.hmpg {
	padding: 20px 15px;
	min-height: 100vh;
}
.hsec01.hmsn {
	min-height: 100vh;
	padding: 80px 15px 20px;
}
.hsec02, .hsec03, .hsec04, .vsec01, .vsec02, .vsec03, .vsec04, .vsec05 {
	padding: 40px 0 20px;
	min-height: auto;
}
.hsec05 {
	padding: 0 0 20px;
	min-height: auto;
}
.hsec01 h1 {
	font-size: 20px;
}
.hsec01 .sech1Line {
	width: 80%;
}
.hsec02 .hbgtitle {
	font-size: 36px;
	line-height: 44px;
}
.hsec02 .rtblk {
	padding: 15px 15px 30px 15px;
}
.hsec02 .sech2Line {
	width: 100%;
}
.hsec05 .sec05blk1 {
	height: 100px;
	line-height: 100px;
}
.hsec05 .sec05blk1 h2, .wdsec02.hsec05 .sec05blk1 h2 {
	font-size: 55px;
	line-height: 100px;
}
.hsec05 .sec05blk1 h3, .wdsec02.hsec05 .sec05blk1 h3 {
	top: 6%;
	left: 8%;
	font-size: 20px;
}
.hsec02 .divline {
	margin: 20px 0 25px;
}
.shsec07.hsec05 .sec05blk1 h2 {
	font-size: 34px;
}
.shsec02.hsec02 .hbgtitle, .shsec03.hsec02 .hbgtitle, .shsec05 h2,
.shsec04.hsec02 .hbgtitle, .shsec06.hsec02 .hbgtitle {
	font-size: 42px;
	line-height: 44px;
	margin-top: 0px;
}
.code_top, .code_bottom {
	width: 40px;
}
.code_bottom {
	bottom: 0px;
}
.shsec05 h2 {
	padding-top: 30px;
}
.shsec07.hsec05 .sec05blk1 h3 {
	left: 0;
	top: 15px;
	font-size: 13px;
	text-align: center;
}
.vsec02.vsec04 {
	padding-bottom: 160px;
}
.vsec04 .vtxt.f18 {
	font-size: 15px;
	right: 20px;
}
.vsec04 .vbgtitle4 {
	left: 80px;
}
.vsec04 .vsec04title {
	font-size: 34px;
}
.hsec05 .sec05blk1 h3, .wdsec02.hsec05 .sec05blk1 h3 {
	top: 15px;
	left: 0;
	font-size: 17px;
}
.vsec02 .vbgtitle, .vsec03 .vbgtitle {
	font-size: 60px;
	line-height: 60px;
}
.vs01Outcir {
	width: 300px;
	height: 300px;
}
.vs01Inncir {
	width: 276px;
	height: 276px;
}
.vs01Inncir p {
	font-size: 20px;
	margin-top: 95px;
}
.vsec1line {
	margin: 0 auto 10px;
}
.vs01Inncir img {
	width: 38px;
}
img.dwarr {
	width: 38px;
}
.vsec01 .vbgtitle, .wdsec01.vsec01 .vbgtitle {
	font-size: 56px;
	margin-top: 80px;
}
.telescope_img img {
	width: 90px;
	right: 10px;
}
.Qimg img {
	width: 90px;
	height: auto;
}
.vsec02 .lftblk {
	padding-left: 5px;
}
.vsec02 .lftblk .verttxt {
	font-size: 80px;
	left: 32px;
	top: 80px;
}
.vsec03 .rtblk .verttxt {
	font-size: 80px;
	right: 32px;
	top: 80px;
}
.wwsec05.hsec05 .sec05blk1 h2 {
	font-size: 30px;
}
.wwsec04.hsec02 .hbgtitle {
	font-size: 36px;
	line-height: 36px;
}
.fasec02 .vs02Inncir {
	height: 250px;
	width: 250px;
}
.fasec02 .vs02Outcir {
	right: 0;
}
.fasec01.hsec01 p.wws1bgtitle {
	margin-top: 65px;
	font-size: 70px;
}
.ttsec02 .wws1bgtitle {
	font-size: 58px;
}
.ttsec02 .wws1txt {
	font-size: 18px;
}
.hsec01 p.wws1bgtitle {
	font-size: 70px;
	line-height: 72px;
}
.btsec01.hsec01 p.wws1txt {
	margin-top: 72px;
	top: 70px;
	line-height: 24px;
	display: none;
}
.btsec02 .wws1txt {
	font-size: 14px;
	top: 48%;
	display: none;
}
.jsec02 .form-check label {
	font-size: 14px;
}
.forgotpassworddiv .fleft {
  float: none;
	display: block;
	margin-bottom: 5px;
}
.forgotpassworddiv .fright {
  float: none;
	display: block;
}
.homeBgTransparent {
	width: 90%;
}
.hsec01.hmpg h1 {
	font-size: 30px;
}
.contactpg .container h2 {
	font-size: 26px;
}
.contactsec.hsec05 .sec05blk1 h2 {
	font-size: 40px;
}
.vsec05.hsec05 .sec05blk1 h3 {
	top: 2px;
}
.ttsec01.btsec01.wwsec01.hsec01 .rtblk p {
	margin: 20px auto 0;
}
}

@media screen and (max-width: 390px){
.mbForm {
	margin-top: 75px;
}
.hmpg .hmltblk {
	padding: 45px 20px 20px 30px;
}
}

@media screen and (max-width: 340px){
.mbForm {
	margin-top: 10px;
}
.hmpg .hmltblk {
	padding: 30px 20px 20px 30px;
}
}
